# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/app/debug/
android/app/release/
android/app/profile/
*.jks

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# pubspec.lock should be committed for apps
# pubspec.lock
